<br>
<div class="jumbotron">
  <h1>Freddit</h1>
  <h2>Mistress Branch</h2>
  <p>This page is being sued by the creators of Reddit.</p>
  <p>
    <%= link_to "Sign In", new_session_path %> or
    <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Solves world hunger</h2>
    <p>Freddit will deliver food to those in need, all over the world --- for a small fee.</p>
  </div>

  <div class="col-md-4">
    <h2>Eliminates poverty</h2>
    <p>Freddit will deliver money to those in need, all over the world --- for a large fee.</p>
  </div>

  <div class="col-md-4">
    <h2>Makes you better looking</h2>
    <p>Freddit will you better looking:  it's sceintifically proven to make men look like Frederick Lazo and women to also look like Frederick Lazo.</p>
  </div>
</div>
